.container {
  padding: 0.75rem 1rem;
  margin-top: 8rem;

  h2 {
    font-size: 3rem;
    margin-bottom: 9rem;

    strong {
      color: var(--color-logo);
    }
  }
}

.astronautsGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.astronaut {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 0;
  gap: 1rem;
  margin-bottom: 3rem;

  h4 {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    color: var(--subtitle-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    strong {
      font-weight: normal;
    }
  }
}

.separator {
  width: 1px;
  height: 650px;
  max-height: 100%;
  background-color: var(--card-color);
  margin: 0 auto;
}