.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.navigation {
  ul {
    display: flex;
    gap: 4rem;
  }
}

.connectButton {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;

  strong {
    margin-left: 1rem;
  }
}